
GreenTips/.gradle/checksums/

GreenTips/.idea/codeStyles/

GreenTips/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/

GreenTips/.idea/

GreenTips/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/
